<!DOCTYPE html>
<html lang="en">
		
	<% include ../partials/header.ejs %>
<body>
	
<div class="container">
	<br>

  <% for(var i=0; i<items.length; i++) {%>
    <div class="row">
        <div class="col-xs-6">
            <img src="<%= items[i].img %>" height="250vh" width="400vh">
        </div>
         <div class="col-xs-6">
            <span><h2><%= items[i].name %></h2></span><br>
            <span><%= items[i].description %></span><br>
            <span><%= items[i].price %>&nbsp;<%= items[i].unit %></span>
        </div>
    </div><br>
  <% } %>



	
</div>
	</body>

	<% include ../partials/footer.ejs %>

	
	
</html>